@dupunkto host dupunkto.org

handle @dupunkto {
  @webfinger path /.well-known/webfinger
  reverse_proxy @webfinger nym:80

  redir /~potsjem /~pot
  redir /rss https://wiki.dupunkto.org/RSS
  redir /guide https://wiki.dupunkto.org/StyleGuide
  redir /tilde https://geheimesite.nl/blog/tilde

  @tools path_regexp tools ^/tools(/.*)?$
  redir @tools https://tools.dupunkto.org{re.tools.1}
}

@support host support.dupunkto.org

handle @support {
  @webfinger path /.well-known/webfinger
  reverse_proxy @webfinger nym:80
}
