@dupunkto host dupunkto.org

handle @dupunkto {
  redir /~potsjem /~pot
  redir /rss https://wiki.dupunkto.org/RSS
  redir /guide https://wiki.dupunkto.org/StyleGuide
  redir /tilde https://geheimesite.nl/blog/tilde

  @tools path /tools /tools/*
  handle @tools {
    uri strip_prefix /tools
    redir https://tools.dupunkto.org{uri}
  }
}