<!DOCTYPE html>
<html lang="{{ site_language }}">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>{{ title | escape_once }}</title>
    <link rel="canonical" href="https://dupunkto.org{{ path }}" />

    <link rel="stylesheet" href="/main.css" />
  </head>

  <body>
    <article>
      <h1 {% if hide_title == true %}style="display: none"{% endif %}>
        {{ title }}
      </h1>

      {{ content_rendered }}
    </article>
  </body>
</html>
