<!DOCTYPE html>
<html lang="{{ site_language }}">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>{{ title | escape_once }}</title>

    <meta name="description" content="{{ content | truncate: 200 }}..." />
    <link rel="canonical" href="{{ site_root }}{{ url }}" />

    <link rel="stylesheet" href="/main.css" />
  </head>

  <body>
    <article>
      {{ content_rendered }}
    </article>
  </body>
</html>
