<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Index</title>

    <style>
      table {
  	width: 100%;
  	font-family: monospace;
	border: solid #adadad;
	padding: 14px 0;
        border-width: 2px 0;
      }

      thead {
	display: none;
      }

      th {
  	text-align: left;
      }

      th a {
  	text-decoration: none;
  	color: currentColor;
  	cursor: text;
      }
    </style>
  </head>
  <body>
    <h1>Index of  
