html {
  font-size: clamp(0.9rem, 2.5vw, 1.2rem);
}

html, body {
  margin: 0;
  width: 100%;
  min-height: 100vh;
  font-family: monospace;
  background: #211e20;
  color: #ffd191;
}

body {
  box-sizing: border-box;
  padding: 5px;
}

a {
  color: #ff924f;
}

h2 {
  margin-top: 2.5em;
}

pre {
  font-size: .85em;
  overflow-x: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

pre::-webkit-scrollbar {
  display: none;
}

pre:last-child {
  margin-top: 6em;
}

article {
  max-width: 80ch;
  margin: 0 auto;
}
