html, body {
  margin: 0;
  width: 100%;
  min-height: 100vh;
  font-family: monospace;
  background: black;
  color: white;
  font-size: 1rem;
}

a {
  color: darkgray;
}

h2 {
  margin-top: 2.5em;
}

pre {
  font-size: .85em;
  margin-bottom: 6em;
  overflow-x: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

pre::-webkit-scrollbar {
  display: none;
}

pre:last-child {
  margin-top: 6em;
}

article {
  max-width: 80ch;
  margin: 0 auto;
}
